
/* 
title: 
type: css
creation date:
modification date:
note: 
programmer: Matthew Milam
 */

/* ***************************************************************** */

body{
    background: rgb(52, 52, 52);
    background: repeating-linear-gradient(45deg, rgb(43, 43, 43), rgb(68, 68, 68) 40dvw, rgb(38, 37, 37) 5dvi);
    margin: auto;
    text-align: center;
}
/* navbar content */
.navbar{
    width: 100dvw;
    height: 5dvh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: px;
    word-spacing: 1.5dvi;
    color: whitesmoke;
    transition: background-color 0.5s;
    top: 0;
}
.navbar-sub-container{
}
.navbar-link{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    background: transparent;
}
h2{
    text-align: center;
}
/* where the main container is */
.content{
    background-color: rgba(39, 27, 12, 0.468);
    margin: 8dvi;
    padding: 5dvi;
    border-radius: 2dvi 10dvi;
    backdrop-filter: blur(1dvi);
    -webkit-backdrop-filter: blur(.5dvi); 
    color: rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


.h{
    color: antiquewhite;
    top: 25px;
    position: relative;
    color: aliceblue;
}


h1{
    font-size: 2.5dvi;
}

.title{
    width: 62dvi;
    text-align: center;
    border-radius: 1dvi;
    background: rgb(2,0,36);
    background: linear-gradient(5deg, rgba(2,0,36,1) 0%, rgba(1,1,150,1) 35%, rgba(0,212,255,1) 100%);
}
img{
    width: 30dvi;
    border-radius: 1dvi;
}